@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { 
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0; 
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
    "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
    background: #1992d4;
    color: white;
    display: grid;
    grid-template-rows: 1fr 10fr; /* Container for logo and menu */
    grid-template-areas: "logo"
    "menu";
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template-columns: auto 1fr; /* Container for icon and text "dashboard" */
    gap: 20px;
    align-items: center;
    margin: 15px;
    font-size: x-large;
    font-weight: bolder;
}

.menu {
    grid-area: menu;
    margin: 25px;
}

.menu > ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 20px;
    font-size: larger;
    font-weight: bold;
}

.menu > ul > img {
    margin-right: 15px; /* Margin between menu icons and menu texts */
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 7px 4px -2px #ccc;
    position: relative;
}

.header-search {
    display: grid;
    grid-template: 1fr / 1fr;
}

.header-search form {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
}

.header-search form button {
    border: none;
    background-color: inherit;
}

.header-search form input {
    border: none;
    background-color: #e2e8f0;
    padding: 8px;
    border-radius: 15px;
    max-width: 700px;
}

.header-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 25px;
    font-weight: bold;
    margin-right: 50px;
}

.header-name { /* Container for avatar and "Hi there, Morgan.."-container */
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 0 10px 50px;
    align-content: center;
    gap: 20px;
}

.header-name > div { /* Container for "Hi there, Morgan..." */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-name div div:nth-child(1) { /* Hi there.. */
    align-self: end;
    font-size: 0.8rem;
    font-weight: bold;
}

.header-name div:nth-child(2) { /* ..Morgan.. */
    font-size: 1.2rem;
    font-weight: bold;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". button1 button2 button3";
    align-items: center;
    justify-items:end;
    margin-right: 40px;
    gap: 20px;
}

.header-buttons button {
    background-color: #1992d4;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    width: 100px
  }

  .header-buttons button:nth-child(1) {
    grid-area: button1;
  }

  .header-buttons button:nth-child(2) {
    grid-area: button2;
  }

  .header-buttons button:nth-child(3) {
    grid-area: button3;
  }


.main-content {
    grid-area: main-content;
    border: 1px solid red;
    background-color: #e1e7ef;
}