@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { 
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0; 
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-areas: "sidebar header"
    "sidebar main-content";
}

/* --------------------------------------------------------------------------------------- */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "searchbar userinfo"
    "greeting buttons";
    box-shadow: 0 5px 4px -2px #ccc;
    position: relative;
}

.searchbar {
    grid-area: searchbar;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    padding-left: 50px;
}

.searchbar > input {
    border: none;
    background-color: #e2e8f0;
    padding: 8px;
    border-radius: 15px;
    max-width: 700px;
}

.userinfo {
    grid-area: userinfo;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 25px;
    font-weight: bold;
    margin-right: 50px;
}

.greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 0 10px 50px;
    align-items: center;
    gap: 20px;
}

.user-greeting > p, .user-greeting > h3 {
    margin: 0;
}




.nav {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    margin-right: 50px;
    gap: 20px;
}

.nav button {
    background-color: #1992d4;
    border: none;
    color: white;
    padding: 10px 28px;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 25px;
    width: 100px;
  }

/* 
  .nav button:nth-child(1) {
    grid-area: button1;
  }

  .nav button:nth-child(2) {
    grid-area: button2;
  }

  .nav button:nth-child(3) {
    grid-area: button3;
  } */

/* --------------------------------------------------------------------------------------- */

.sidebar {
    grid-area: sidebar;
    background: #1992d4;
    color: white;
}

.sidebar-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
    margin: 20px;
    font-size: x-large;
    font-weight: bolder;
}

.user-features, .user-options {
    margin: 30px;
}

.user-features {
    margin-top: 40px;
    margin-bottom: 50px;
}

.user-features > ul, 
.user-options > ul {
    list-style-type: none; /* Remove bullets */
    font-size: larger;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:15px;
    padding: 0;
    margin: 0;
}

.main-content {
    grid-area: main-content;
    background-color: #e1e7ef;
    display: grid;
    grid-template-columns: 4fr max(300px);
    grid-template-areas: "projects announcements"
    "projects trending" "projects .";
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 30px 20px 30px 20px;
}

.projects-header {
    font-size: large;
    font-weight: 600;
    align-self: center;
    margin-bottom: 10px;
}

.projects-cards-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 375px); */
    gap: 20px;
    /* justify-content: start; */
    align-content: start;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-card {
    background-color: white;
    box-shadow: 5px 5px 4px -2px #ccc;
    border-radius: 10px;
    border-left: 8px solid #f0b429;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 25px 20px;
}

.projects-card-header {
    font-weight: bold;
    margin-bottom: 8px;
}

.projects-card-content {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.projects-card-icons {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.announcements {
    grid-area: announcements;
    margin: 30px 30px 15px 0px;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 350px;
}

.announcements-header {
    font-size: large;
    font-weight: 600;
    align-self: center;
    margin-bottom: 10px;
}

.announcements-cards-container {
    background-color: white;
    box-shadow: 5px 5px 4px -2px #ccc;
    border-radius: 10px;
    padding: 30px;
    display: grid;
}

.announcements-card {
    display: grid;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
    padding-top: 12px;
}

.announcements-card:nth-last-child(1) {
    border-bottom: none;
    padding-bottom: 0;
}

.announcements-card:nth-child(1) {
    padding-top: 0;
}
.announcements-card-header {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.announcements-card-content {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.trending {
    grid-area: trending;
    margin: 15px 30px 30px 0px;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 350px;
}

.trending-header {
    font-size: large;
    font-weight: 600;
    align-self: center;
    margin-bottom: 10px;
}

.trending-content {
    background-color: white;
    box-shadow: 0 7px 4px -2px #ccc;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trending-user-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.trending-user {
    margin-left: 15px;
}

.trending-user-name {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 3px;
}

.trending-user-description {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}