@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body { 
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0; 
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-areas: "sidebar header"
    "sidebar main";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "searchbar userinfo"
    "greeting buttons";
    box-shadow: 0 5px 4px -2px #ccc;
    position: relative;
}

.searchbar {
    grid-area: searchbar;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    padding-left: 50px;
}

.searchbar > input {
    border: none;
    background-color: #e2e8f0;
    padding: 8px;
    border-radius: 15px;
    max-width: 700px;
}

.userinfo {
    grid-area: userinfo;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 25px;
    font-weight: bold;
    margin-right: 50px;
}

.greeting {
    grid-area: greeting;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 0 10px 50px;
    align-items: center;
    gap: 20px;
}

.user-greeting > p, .user-greeting > h3 {
    margin: 0;
}

.nav {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    margin-right: 50px;
    gap: 20px;
}

.nav button {
    background-color: #1992d4;
    border: none;
    color: white;
    padding: 10px 28px;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 25px;
    width: 100px;
  }

.sidebar {
    grid-area: sidebar;
    background: #1992d4;
    color: white;
}

.sidebar-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
    margin: 20px;
    font-size: x-large;
    font-weight: bolder;
}

.user-features, .user-options {
    margin: 30px;
}

.user-features {
    margin-top: 40px;
    margin-bottom: 50px;
}

.user-features > ul, 
.user-options > ul {
    list-style-type: none; /* Remove bullets */
    font-size: larger;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:15px;
    padding: 0;
    margin: 0;
}

/* --------------------------------------------------------------------- */

.main {
    grid-area: main;
    background-color: #e1e7ef;
    display: grid;
    grid-template-columns: 4fr max(330px);
    grid-template-areas: "projects announcements"
    "projects trending" "projects .";
}

.projects {
    grid-area: projects;
    /* display: grid;
    grid-template-rows: auto 1fr; */
    margin: 30px 20px 30px 20px;
}

.projects > h2 {
    font-size: large;
    margin-top: 0;
    margin-bottom: 10px;
}

.card-container {
    display: grid;
    gap: 20px;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: white;
    box-shadow: 5px 5px 4px -2px #ccc;
    border-radius: 10px;
    border-left: 8px solid #f0b429;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 25px 20px;
}

.card-text {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.card h4 {
    color: black;
    margin: 0 0 8px 0;
}

.card-buttons {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.announcements {
    grid-area: announcements;
    margin: 30px 30px 15px 0px;
}

.announcements > h2 {
    font-size: large;
    /* margin-bottom: 10px; */
}

.announcements-cards {
    background-color: white;
    box-shadow: 5px 5px 4px -2px #ccc;
    border-radius: 10px;
    padding: 12px 30px 12px 30px;
}

.announcement-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.announcement-card:last-of-type {
    border-bottom: none;

}
.announcements-cards h4 {
    font-size: 0.8rem;
}

.announcements-cards p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.trending {
    grid-area: trending;
    margin: 15px 30px 15px 0;
}

.trending > h2 {
    font-size: large;
}

.trending-users {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    background-color: white;
    box-shadow: 0 7px 4px -2px #ccc;
    border-radius: 10px;
    padding: 20px;
}

.trending-user > p:nth-child(1) {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 3px;
    }

.trending-user > p:nth-child(2) {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}